.modal-header
  button.close(type='button', data-dismiss='modal', aria-label='Close')
    span(aria-hidden='true') ×
  h4.modal-title Add New Contact
.modal-body
  form.form(action="/add-contact/#{client.id}", method="POST", role="form", autocomplete="off" novalidate)#add-contact-form
    .row
      .col-xs-12.col-sm-12
        .grey-box
          .form-group
            label Name
            input.form-control(type='text' name='name' required)
          .form-group
            label Relationship with client
            input.form-control(type='text' name='relationship' required)
          .form-group
            label Phone number
            input.form-control(type='phone' name='phoneNumber' required)
          .form-group
            label Access level for information
            select(name='access').form-control
              option(value='Emergency') Emergency only
              option(value='General') General
              option(value='Clinical') Clinical
        .grey-box
          .form-group
            label Emergency contact
            p.help-block Should this person be listed as an emergency contact?
          .radio
            label
              input(name='isEmergencyContact' type='radio' value='true' required)
              | Yes
          .radio
            label
              input(name='isEmergencyContact' type='radio' value='false' required checked)
              |  No

.modal-footer
  button.btn.btn-default(type='button', data-dismiss='modal') Close Without Saving
  button.btn.btn-primary(type='submit' form='add-contact-form') Add New Contact