#change-id {
	color: grey;
}

.btn-submit {
  margin-top: 50px;
}

.add-form-panel {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.add-form-inside {
  padding: 10px;
}