.cal-view{
  display:none;
}

.auth-waiting{
  display:none;
}

.auth-view{
  display:none;
}

.cal-loading{
  display:none;
}

.error-box{
  display: none;
}

.draggable {
  max-width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  padding: 5px 10px;
  background-color: darkgreen;
  color: white;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  z-index: 1000;
}

#message-container {
  border: 1px solid lightgrey;
  min-height: 50px;
  padding: 5px;
}

#message-box {
  font-weight: bold;
  text-align: center;
}

.popover * {
  z-index: 2;
}

.action-box {
  margin-bottom: 10px;
  padding: 10px;
}

.settings-box {
  padding: 10px;
}