ul.nav-tabs a {
  padding-left: 12px;
  padding-right: 12px;
}

.cal-view {
  display:none;
}

.auth-waiting{
  display:none;
}

.auth-view{
  display:none;
}

.cal-loading{
  display:none;
}

#error-container{
  display: none;
  position: absolute;
  top: 250px;
  z-index: 1000;
  width: 80%;
  left: 50%;
}

#error-box{
  position: relative;
  left: -50%;
}

.draggable {
  max-width: 200px;
  min-height: 65px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  padding: 5px 10px;
  color: black;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  z-index: 1000;
  cursor: pointer;
}

.popover * {
  z-index: 2;
}

.settings-box {
  padding: 10px;
}

#calendar a {
  text-decoration: none;
}

#cal-name {
  padding: 0;
  margin-top: 0;
}

.fc-event {
  padding: 2px;
  font-size: 0.8em;
  font-weight: bold;
}

@media (min-width: 992px) {
  .sidebar {
    position: relative;
    top: 68px;
  }
}

.draggable-events .glyphicon {
  font-size: 1.5em;
  margin-top: 10px;
  display: inline-block;
}