@media (max-width: 991px) {
  .body-block {
    padding-top: 15px;
  }
}

@media (min-width: 992px) {
  .sidebar {
    position: relative;
    top: 68px;
  }
}

ul.nav-tabs a {
  padding-left: 12px;
  padding-right: 12px;
}

.cal-view, .cal-loading, .auth-waiting, .auth-view {
  display:none;
}

#error-container{
  display: none;
  position: absolute;
  top: 250px;
  z-index: 1000;
  width: 80%;
  left: 50%;
}

#error-box{
  position: relative;
  left: -50%;
}

.draggable {
  max-width: 200px;
  height: 65px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  padding: 5px 10px;
  color: black;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  z-index: 1000;
  cursor: pointer;
}

.popover * {
  z-index: 2;
}

.settings-box {
  padding: 10px;
}

#calendar a {
  text-decoration: none;
}

#cal-name {
  padding: 0;
  margin-top: 0;
}

.fc-event {
  padding: 2px;
  font-size: 0.8em;
  font-weight: bold;
}

#draggable-events .glyphicon {
  font-size: 1.5em;
  margin-top: 10px;
}

.draggable-text {
  width: 75%;
  margin-left: auto;
  margin-top: 5px;
  display: inline-block;
}

.draggable-icon {
  width: 20%;
  display: inline-block;
  position: relative;
  top: -7px;
}

/*hacky solution to set border type inside fullCalendar, without altering vendor code*/
.fc-event[style *= "rgb(98, 198, 109)"] {
  border: 1px dashed black !important;
}

.draggable[style *= "rgb(98, 198, 109)"] {
  border: 2px dashed black !important;
}

