

@media (max-width: 991px) {
	#date-picker{
		margin-top: 15px;
	}
}

#go-past, #go-future{
	/*margin-right: 5px;*/
	width: 60px;
}

#date-range{
	display: inline-block;
	text-align: center;
	min-width: 170px;
	padding: 0 15px;
	font-weight: bold;
}

#chart-controls .btn{
	font-weight: bold;
	/*font-size: 1.2em;*/
}

#chart-controls h4{
	/*font-family: 'Droid Sans', Helvetica, Arial, sans-serif;*/
}

#dates-row {
	margin-top: 10px;
}

#chart-error-div{
	font-size: 1.2em;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: none;
}

#line-chart {
	margin-top: 9px;
	min-height: 300px;
}

.col-chart {
	min-height: 50px;
}

#colchart-legend {
	font-family: 'Droid Sans';
	font-size: 18px;
	color: black;
	margin-bottom: 8px;
}


#meditate-label {
	margin-left: 20px;
}

#meditate-label .check{
	color: #18BC9C;
}

#exercise-label .check{
	color: #176AB0;
	/*color: #2C3E50;*/
}

.check{
	font-size: 24px;
	font-weight: bold;
}