.info-dl > dt{
	width: 20%;
	margin-left: 10px;
	padding-left: 5px;
	padding-right: 5px;
	white-space: normal;
}
.info-dl > dd{
	margin-left: 20%;
	padding-left: 5%;
	padding-left: 5%;
}

.pref {
  white-space: pre;
}

td:first-child {
  font-weight: bold;
}

td {
  /*border: 1px solid black !important;*/
  padding: 0px 40px 10px 0;
  vertical-align: top;
}

.test {
  background-color: red;
}

#contacts tbody {
  cursor: pointer;
}