/*Conversation List*/
.conversation-list a {
  color: #2C3E50;
}

/*.conversation-list li.active a{
  background-color: #ecf0f1;
  color: #2C3E50;
}*/

/*Active Conversation*/
.conversation-panel {
  height: 350px;
  overflow: auto;
}

.message {
  max-width: 80%;
  display: inline-block;
}

.message-author {
  font-weight: bold;
}

.message-content {
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

/*Messages from the signed-in user*/
.from-user {
  float: right;
}

.from-user .message-content{
  background-color: lightblue;
}

.from-user .message-author, .from-user .message-time{
  float: right;
}

/*Messages to the signed-in user*/
.to-user .message-content{
  background-color: lightgrey;
}

textarea {
  resize: vertical;}

.message-paragraph {
  margin-bottom: 0;
}

input.btn {
  margin-top: 10px;
}