@media (max-width: 992px) {
  .body-block {
    padding-top: 45px;
  }
}

/*Sidebar client nav (md/lg screens): */

.client-sidebar {
  height: 100%;
  z-index: 1000;
}

.sidebar-menu .glyphicon{
  margin-right: 15px;
}

.active-sidebar {
  border-radius: 4px;
  background-color: #ecf0f1;
}

@media (min-width: 997px) {
  .content-block {
    padding-top: 20px;
  }
}

/*Topbar client nav (mobile only):*/

.topbar-client {
  position: relative;
  padding: 0 10px;
  border-bottom: 1px solid #2C3E50;
  background-color: #eeeeee;
  height: 60px;
  
  z-index: 1000;
}

.topbar-text {
  top: -7px;
}

.topbar-menu {
  top: 5px;
}

.topbar-text small {
  color: #2C3E50;
  margin-left: 10px;
}

.topbar-client .dropdown-menu {
  margin-top: 0;
}

.topbar-menu>.dropdown-menu>li {
  margin: 10px 0;
}

.topbar-menu .glyphicon{
  margin-right: 5px;
}

.sidebar-menu a, .topbar-menu a, .dropdown-menu a{
  color: #2C3E50;
}

.topbar-menu .dropdown-toggle {
  color: #2C3E50;
  font-size: 18px;
}

.topbar-menu .dropdown-menu {
  font-size: 18px;
}

.topbar-menu > ul > li > a {
  color: #2C3E50;
}