/*layout*/
html, body, .full-height {
	height: 100%;
	/*min-height: 800px;*/
}

.body-block {
	padding-top: 70px;
}

.content-block {
	padding-top: 20px;
}

.container-body, .container-navbar {
	width: 100%;
	max-width: 1300px;
}

.container-body {
	min-height: 79vh;
}

/*---------*/
/*correctly position footer at bottom of screen:*/
.footer-container {
	width: 100%;
	max-width: 1300px;
	position: relative;
	height: 166px;
	background-color: white;
	margin: auto;
}

footer {
	position: absolute;
	right: 20px;
	bottom: 0px;
}

footer img {
	width: 350px;
	height: auto;
}
/*-------*/

@media (min-width: 1350px) {
	.container-navbar {
		padding-left: 0;
		padding-right: 0;
	}
}

input[type='text'] {
	padding-left: 5px;
}

textarea {
	width: 100%;
}

/*colors and images*/

.glyphicon-leaf {
	color: #176AB0;
}
.container-body {
	background-color: white;
}
body {
	background: url(/images/bg-greynoise.png) repeat 0 0;
	background-attachment: fixed;
}

.gold-text {
	color: #F39C12;
}

.embiggen {
	font-size: 1.1em;
}

/*typefaces*/

h1, h2, h3, h4 {
	font-family: 'Droid Serif', Georgia, Times, serif;
} 
p, h5, h6 {
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}
h2 { 
    text-shadow: 1px 1px 1px #ccc;
}

/*misc*/
.grey-box {
	border: 2px solid lightgrey;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 0 0.5em 0.2em #ccc;
	margin-bottom: 10px;
}

.black-box {
	border: 2px solid black;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	box-shadow: 0 0 0.3em 0.1em #ccc;
	margin-bottom: 10px;
}

#client-table tbody>tr, #prev-week, #next-week {
	cursor: pointer;
}

footer {
	margin-top: 50px;
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 80%;
		max-width: 800px;
	}
}

.nav-tabs li a{
	border: 1px solid #ecf0f1;
	border-radius: 10px 10px 0 0;
	border-bottom-width: 0;
	/*font-variant: small-caps;*/
	font-weight: bold;
	color: #2C3E50;
}

.nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus{
	background-color: #ecf0f1;
	border-color: #c7d3d6;
}

.tab-content .panel {
	border-color: #c7d3d6;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}