/*layout*/
html, body, .full-height {
	height: 100%;
	/*min-height: 800px;*/
}

.body-block {
	padding-top: 110px;
}

.content-block {
	padding-top: 20px;
}

@media (min-width: 992px) {
	.body-block {
		padding-top: 70px;
	}
}

.container-body, .container-navbar {
	width: 100%;
	max-width: 1200px;
}

@media (min-width: 1350px) {
	.container-navbar {
		padding-left: 0;
		padding-right: 0;
	}
}

input[type='text'] {
	padding-left: 5px;
}

textarea {
	width: 100%;
}

/*colors and images*/

.glyphicon-leaf {
	color: #176AB0;
}
.container-body {
	background-color: white;
}
body {
	background: url(/images/bg-greynoise.png) repeat 0 0;
	background-attachment: fixed;
}

/*typefaces*/

h1, h2, h3, h4 {
	font-family: 'Droid Serif', Georgia, Times, serif;
} 
p, h5, h6 {
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}
h2 { 
    text-shadow: 1px 1px 1px #ccc;
}

/*misc*/
.grey-box {
	border: 2px solid lightgrey;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 0 0.5em 0.2em #ccc;
}

.glyphicon-sort, #client-table tbody>tr, #prev-week, #next-week {
	cursor: pointer;
}

/*Sidebar client nav (md/lg screens): */

.client-sidebar {
	height: 100%;
	position: fixed;
	z-index: 1000;
}

/*#sidebar-logo {
	margin-top: 50px;
	width: 290px;
	position: absolute;
	bottom: 150px;
	display: none;
}*/

.sidebar-menu .glyphicon{
	margin-right: 15px;
}

/*Topbar client nav (mobile only):*/

.topbar-client {
	position: fixed;
	padding: 0 10px;
	border-bottom: 1px solid #2C3E50;
	margin-top: -20px;
	background-color: #eeeeee;
	height: 60px;
	width: 100%;
	top: 80px !important;
	z-index: 1000;
}

.topbar-text {
	top: -7px;
}

.topbar-menu {
	top: 5px;
}

.topbar-text small {
	color: #2C3E50;
	margin-left: 10px;
}

.topbar-client .dropdown-menu {
	margin-top: 0;
}

.topbar-menu>.dropdown-menu>li {
	margin: 10px 0;
}

.topbar-menu .glyphicon{
	margin-right: 5px;
}

.sidebar-menu a, .topbar-menu a, .dropdown-menu a{
	color: #2C3E50;
}

.caret {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #2C3E50;
}

.topbar-menu .dropdown-toggle {
	color: #2C3E50;
	font-size: 18px;
}

.topbar-menu .dropdown-menu {
	font-size: 18px;
}

.topbar-menu > ul > li > a {
	color: #2C3E50;
}

footer {
	margin-top: 50px;
	margin-bottom: 20px;
}