.hidden-xs.hidden-sm.client-sidebar
  h2 Outlaw, Travis
  h4 (999) 123-7766
  .sidebar-menu
    ul.nav.nav-pills.nav-stacked
      li#history-nav
        a(href='check-in-history')
          i.glyphicon.glyphicon-ok
          |&nbsp;Check-in History
      li#notes-nav
        a(href='client-notes')
          i.glyphicon.glyphicon-pencil
          |&nbsp;My Notes
      li#details-nav
        a(href='client-info')
          i.glyphicon.glyphicon-list-alt
          |&nbsp;Details
      li#messaging-nav.disabled
        a(href='#')
          i.glyphicon.glyphicon-envelope
          |&nbsp;Messaging