doctype html
html(lang="en")
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/vendor/bootstrap/css/flatly.bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/jquery/DataTables-1.10.12/css/jquery.dataTables.min.css')
    link(href='//fonts.googleapis.com/css?family=Droid+Serif', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Droid+Sans', rel='stylesheet', type='text/css')
    if (showTests)
      link(rel='stylesheet', href='/vendor/qa/mocha.css')
    block stylesheets

  body
    .container-fluid.container-navbar-outer
      include ../includes/navbar
    .container.container-body
      block topbar
      -if  (error==='validation')
        .alert.alert-danger 
          strong Validation Error:
          |&nbsp; Something didn't work with your request.
      .container-fluid.full-height       
        .row.full-height.body-block
          block main
    .footer-container
      include ../includes/foot

    script(src='/vendor/js/jquery-1.11.1.min.js')
    script(src='/vendor/js/jquery.mask.min.js')
    script(src='/vendor/bootstrap/js/bootstrap.min.js')
    script(src='/vendor/js/jquery.dataTables.min.js')
    script(src='/vendor/js/moment.min.js')
    script(src='/vendor/js/fullcalendar.min.js')
    script(src='/vendor/js/jquery-ui.min.js')
    script(src='/vendor/js/jquery.ui.touch-punch.min.js')
    script(src='/vendor/js/jquery.mobile.swipe.min.js')
    script(src='/javascripts/ui-tweaks.js')
    script(src='/javascripts/validation.js')
    block scripts
    if (showTests)
      #mocha
      script(src='/vendor/qa/mocha.js')
      script(src='/vendor/qa/chai.js')
      script.
        mocha.ui('tdd');
        var assert = chai.assert;
      script(src='/qa/tests-global.js')
      if (pageTestScript)
        script(src='#{pageTestScript}')
      script.
        mocha.run();
