extends ./layouts/1-col.jade

block content
  link(rel='stylesheet', href='/stylesheets/add-client.css')
  .add-form-panel
    .panel.panel-primary
      .panel-heading
        .panel-title Add New Client
      .panel-body
        .add-form-inside
          form.form(action="/add-client", method="post", role="form", autocomplete="off")
            .row
              .col-xs-12.col-sm-6
                .grey-box
                  .form-group
                    label Last name
                    input.form-control(type='text' name='lastName')
                  .form-group
                    label First name - Legal
                    input.form-control(type='text' name='firstName')
                  .form-group
                    label First name - Preferred (if different)
                    input.form-control(type='text' name='preferredName')
                  .form-group
                    label Phone number
                    .row
                      .col-xs-12
                        input.form-control(type='text' name='phoneNumber' maxlength=14)#phone
              .col-xs-12.col-sm-6
                .grey-box
                  .form-group
                    label Create username
                    input.form-control(type='text' name='username')
                  .form-group
                    label Create client password
                    input.form-control(type='text' name='password')
                  p.help-block This client will use the username and password you create to log in. You won't be able to this password again, so don't forget it!
                button(type='submit').btn.btn-primary.pull-right.btn-submit Submit

block scripts
  script(src='/vendor/jquery/jquery.mask.min.js')