extends layout

block content
  h2.text-center Add New Patient
  .row
    form.form-horizontal(action="/", method="get", role="form")
      .row
        .col-xs-5
          h4.text-center Patient Info
          .form-group
            label Last Name
            input.form-control(type='text')
          .form-group
            label First Name
            input.form-control(type='text')
          .form-group
            label Create Wasatch log-in ID
            input.form-control(type='text')   
          .form-group
            label Create password
            input.form-control(type='password')
          .form-group 
            label Re-enter password to confirm
            input.form-control(type='password')        
        .col-xs-2
        .col-xs-5
          h4.text-center Account Options
          .checkbox
            label
              input(type='checkbox' checked)
              | Allow patient to select check-in date.
              p.help-block If this option is de-selected, the patient will only be able to add check-in data for the current day.
          h4.text-center Daily Tasks to Track    
          .checkbox
            label
              input(type='checkbox' checked)
              | Attend meeting
          .checkbox
            label
              input(type='checkbox' checked)
              | Meditate
          .checkbox
            label
              input(type='checkbox' checked)         
              | Feed dinosaur   
          button.btn-primary.pull-right Submit
            