extends ./layouts/1-col.jade

block content
  link(rel='stylesheet', href='/stylesheets/add-client.css')
  .add-form-panel
    .panel.panel-primary
      .panel-heading
        .panel-title Add New Client
      .panel-body
        .add-form-inside
          form.form(action="/add-client", method="post", role="form", autocomplete="off" novalidate)#add-client-form
            .row
              .col-xs-12.col-sm-6
                .grey-box
                  .form-group
                    label Last name &nbsp;
                      span.gold-text.embiggen *
                    input.form-control(type='text' name='lastName' required)
                  .form-group
                    label First name - Legal &nbsp;
                      span.gold-text.embiggen *
                    input.form-control(type='text' name='firstName' required)
                  .form-group
                    label First name - Preferred (if different)
                    input.form-control(type='text' name='preferredName')
                  .form-group
                    label Date of birth
                    input.form-control(type='text' name='dateOfBirth').date-input
                  .form-group
                    label Phone number
                    input.form-control(type='phone' name='phoneNumber' maxlength=14)
                  .form-group
                    label Email address
                    input.form-control(type='email' name='email')
                  
              .col-xs-12.col-sm-6
                .grey-box
                  .form-group
                    label Create username&nbsp;
                      span.gold-text.embiggen *
                    input.form-control(type='text' name='username' required)
                  .form-group
                    label Create client password&nbsp;
                      span.gold-text.embiggen *
                    input.form-control(type='text' name='password' required)
                  .form-group
                    label Start date &nbsp;
                      span.gold-text.embiggen *
                    -var today = new Date()
                    -today.setMinutes(today.getMinutes()-today.getTimezoneOffset())
                    -today = today.toISOString().substring(0,10)
                    input.form-control(type='text' name='startDate' maxlength=10 value='#{today}').date-input
                  p.help-block This client will use the username and password you create to log in. You won't be able to view this password again, so don't forget it!
                p.gold-text * - Required field.
                button(type='submit').btn.btn-primary.pull-right.btn-submit Submit
