extends layout

block content
  .page-header
    h2.text-center Add New Patient
  .container
    .row
      form.form(action="/", method="get", role="form")
        .row
          .col-xs-12.col-md-6
            h4.text-center Patient Info
            .grey-box
              .form-group
                label Last Name
                input.form-control(type='text')
              .form-group
                label First Name
                input.form-control(type='text')
              .form-group
                label Phone Number
                input.form-control(type='text')
              .form-group
                label Start Date
                input.form-control(type='date')
              .form-group
                label Create Wasatch Log-In ID
                input.form-control(type='text')   
              .form-group
                label Create password
                input.form-control(type='password')
              .form-group 
                label Re-enter password to confirm
                input.form-control(type='password')        
          .col-md-2
          .col-xs-12.col-md-6
            h4.text-center Account Options
            .grey-box
              .form-group
                label Patient Type
                select.form-control
                  option In-Patient
                  option Team Player
                  option X-Factor
              .checkbox
                label
                  input(type='checkbox' checked)
                  | Allow patient to select check-in date.
                  p.help-block If this option is de-selected, the patient will only be able to add check-in data for the current day.
            h4.text-center Daily Tasks to Track 
            .grey-box   
              .checkbox
                label
                  input(type='checkbox' checked)
                  | Attend meeting
              .checkbox
                label
                  input(type='checkbox' checked)
                  | Meditate
              .checkbox
                label
                  input(type='checkbox' checked)         
                  | Feed dinosaur   
            br
            button.btn-primary.pull-right Submit
            br
            h3
              .label.label-warning Note
            p.grey-box I don't know what we'll want to include under account options, so I made some stuff up. I'm sure we'll think of something...
              