extends ./layouts/2-col

block sidebar
  p We'll probably end up with controls in the sidebar.

block content
  link(rel='stylesheet', href='/vendor/fullcalendar.min.css')
  #calendar

block scripts
  script(src='/vendor/moment.min.js')
  script(src='/vendor/fullcalendar.min.js')
  script(src='/javascripts/calendar.js')