extends layout

block content
  link(rel='stylesheet', href='/vendor/fullcalendar.min.css')
  #calendar

block scripts
  script(src='/vendor/moment.min.js')
  script(src='/vendor/fullcalendar.min.js')
  script(src='/javascripts/calendar.js')