extends ./layouts/2-col

block stylesheets
  link(rel='stylesheet', href='/vendor/fullcalendar.min.css')
  link(rel='stylesheet', href='/stylesheets/cal.css')

block sidebar
  p We'll probably end up with controls in the sidebar.

block content
  .auth-view
    p To access this page, you'll need to authorize access to your Google Calendar.
    button.btn.btn-primary#begin-auth Click here to begin the process.
  .auth-waiting.alert Waiting for authorization check with Google....
  .cal-view
    p Sweet! You're authorized!
    #calendar

block scripts
  script(src='/vendor/moment.min.js')
  script(src='/vendor/fullcalendar.min.js')
  script(src='https://apis.google.com/js/client.js')
  script(src='/javascripts/calendar.js')