extends ./layouts/2-col

block stylesheets
  link(rel='stylesheet', href='/vendor/fullcalendar.css')
  link(rel='stylesheet', href='/stylesheets/cal.css')

block sidebar
  .cal-view
    .row
      .col-xs-12.col-sm-4.col-md-12
        .action-box
          p Drag this element onto the calendar to add an appointment slot:
          .draggable Available for client appointments
          | Status of latest request:
          #message-container 
            #message-box
            .error-box.alert.alert-danger
              h4 Error
              | Something went wrong with the last request to the Google Calendar API, and any attempted changes probably didn't work.
      .col-xs-12.col-sm-4.col-md-12
        .settings-box
          form.form#cal-settings
            .checkbox
              label
                input(name='weekends' type='hidden' value='false')
                input(name='weekends' type='checkbox' value='true' checked)
                | Include weekends
            button.btn.btn-primary.pull-right(type='submit') Update view
            .clearfix
      .col-xs-12.col-sm-4.col-md-12
        .links-box
          p This page is designed to help with viewing your schedule, and with setting aside blocks of time for clients to make appointments.
          ul
            li
              a(href="https://calendar.google.com" target="_blank") Google Calendar
              | &nbsp; can handle all of your other scheduling needs.
            li 
              a(href="https://rylandbell.youcanbook.me" target="_blank") Your booking page
              |&nbsp;shows exactly what a client will see when making an appointment.

block content
  .auth-view
    p To use this page, you need to log into your Google account and authorize access to your Google Calendar.
    button.btn.btn-primary#begin-auth Click here to begin the process.
  .auth-waiting.alert Waiting for authorization check with Google....
  .cal-loading Authorization successful. Waiting for calendar to load...
  .cal-view
    #cal-name.help-block.pull-right
    .clearfix
    #calendar

block scripts
  script(src='/vendor/moment.min.js')
  script(src='/vendor/fullcalendar.min.js')
  script(src='/vendor/jquery/jquery-ui.min.js')
  script(src='https://apis.google.com/js/client.js')
  script(src='/javascripts/calendar.js')