extends ./layouts/2-col

block stylesheets
  link(rel='stylesheet', href='/vendor/fullcalendar.css')
  link(rel='stylesheet', href='/stylesheets/cal.css')

block sidebar
  .cal-view.sidebar
    .row
      .col-xs-6.col-md-12
        ul.nav.nav-tabs(role='tablist')
          li.active(role='presentation')
            a(href='#add-event', aria-controls='add-event', role='tab', data-toggle='tab') Add Events
          li(role='presentation')
            a(href='#settings', aria-controls='settings', role='tab', data-toggle='tab') Settings
          li(role='presentation')
            a(href='#links', aria-controls='links', role='tab', data-toggle='tab') Links
        // Tab panes
        .tab-content
          #add-event.tab-pane.active(role='tabpanel')
            .panel
              .panel-body
                p Drag this element onto the calendar to add an appointment slot:
                .draggable-events
                p These time slots will be listed as bookable on your YouCanBook.me page.
          #settings.tab-pane(role='tabpanel')
            .panel
              .panel-body
                form.form#cal-settings
                  .checkbox
                    label
                      input(name='weekends' type='hidden' value='false')
                      input(name='weekends' type='checkbox' value='true' checked)
                      | Include weekends
                  button.btn.btn-primary.pull-right(type='submit') Update view
                  .clearfix
          #links.tab-pane(role='tabpanel')
            .panel
              .panel-body
                .links-box
                  p This page is designed to help with viewing your schedule, and with setting aside blocks of time for clients to make appointments.
                  ul
                    li
                      a(href="https://calendar.google.com" target="_blank") Google Calendar
                      | &nbsp; can handle all of your other scheduling needs.
                    li 
                      a(href="https://rylandbell.youcanbook.me" target="_blank") Your booking page
                      |&nbsp;shows exactly what a client will see when making an appointment.

block content
  .auth-view
    p To use this page, you need to log into your Google account and authorize access to your Google Calendar.
    button.btn.btn-primary#begin-auth Click here to begin the process.
  .auth-waiting.alert Waiting for authorization check with Google....
  .cal-view
    .row
      .col-xs-6
        #cal-name.help-block
      .col-xs-6
        #message-container
          .help-block.pull-right
            span#message-box
            |&nbsp;
          .clear-fix
      
    #calendar
      #error-container
        #error-box.alert.alert-danger
          h4 Error:&nbsp;
            span#error-message
          p Something went wrong with the last request to the Google Calendar API, and any attempted changes probably weren't saved. Check your internet connection, and refresh this page to try again.

block scripts

  script(src='/vendor/moment.min.js')
  script(src='/vendor/fullcalendar.min.js')
  script(src='/vendor/jquery/jquery-ui.min.js')
  scritp(src='/vendor/jquery/jquery.mobile.custom.min')
  script(src='https://apis.google.com/js/client.js')
  script(data-main="javascripts/calendar/main.js" src='/vendor/require.js')
  //- script(src='/javascripts/calendar/calendar.js')