extends layout

block content
    .row
      h2.text-center= title
      p Welcome to #{title}
    .row
      form.form-inline 
        .form-group
          label(for='target-date') Choose a check-in date:
          input(type='date')#target-date.form-control
        button.btn-primary Go!
    .row.jumbotron   
      table.table.table-striped
        thead
          tr
            th 
            th Task
            th Feedback
        tbody
          tr
            td
              input(type='checkbox' checked)
            td Attend meeting
            td You've done this for 7 straight days
          tr
            td 
              input(type='checkbox')
            td Meditate
            td You missed this yesterday. Time to get back on track!
          tr
            td
              input(type='checkbox')
            td Feed pet dinosaur
            td You missed this yesterday. Time to get back on track!
      form(action="/check-in", method="get", role="form").form-horizontal
        .col-xs-6
          button.btn-primary Submit
