extends single-client-view

block content
  h2 Hi
  #dashboard-div
    #filter-div
    #chart-div




block scripts
  script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
  script(src='/javascripts/scratch.js')