extends single-client-view

block content
  .row
    .col-xs-12
      .panel.panel-primary#history-panel
        .panel-heading
          .panel-title Check-In History
        .panel-body#history
          #line-chart
          .row#chart-controls
            .col-xs-12.col-md-12
              .grey-box
                h4 Date Range: (doesn't do anything yet) 
                .row
                  .col-xs-12.col-md-5
                    .btn-group.btn-group-justified(data-toggle='buttons')
                      label.btn.btn-default.active
                        input#option1(type='radio', name='options', autocomplete='off', checked='')
                        |  Week
                      label.btn.btn-default
                        input#option2(type='radio', name='options', autocomplete='off')
                        |  Month
                      label.btn.btn-default
                        input#option3(type='radio', name='options', autocomplete='off')
                        |  All
                  .col-xs-12.col-md-7
                    .btn-group(role='group', aria-label='...')#date-picker-button-group
                      button.btn.btn-default(type='button')
                        .glyphicon.glyphicon-arrow-left#prev-week
                      button.btn.btn-primary.disabled(type='button')#date-range-button
                        #date-range No Date Range Specified 
                      button.btn.btn-default(type='button')
                        .glyphicon.glyphicon-arrow-right#next-week

                .row  
                  .col-xs-12
                    h4 Visible Categories: (works, but buggy)
                    .btn-group.btn-group-justified(data-toggle='buttons')#toggle-categories
                      label.btn.btn-default
                        input(type='checkbox', autocomplete='off')#cat1
                        |  Cravings
                      label.btn.btn-default
                        input(type='checkbox', autocomplete='off')#cat2
                        |  Sleep
                      label.btn.btn-default
                        input(type='checkbox', autocomplete='off')#cat3
                        |  Stress
                      label.btn.btn-default.active
                        input(type='checkbox', autocomplete='off', checked)#cat4
                        |  Mood
                      label.btn.btn-default
                        input(type='checkbox', autocomplete='off')#cat5
                        |  Energy
                      label.btn.btn-default.active
                        input(type='checkbox', autocomplete='off', checked)#cat6
                        |  Goals

              

          
          //- #days-row.task-row
          //-   .task-label
          //-   .day-box Sun
          //-   .day-box Mon
          //-   .day-box Tue
          //-   .day-box Wed
          //-   .day-box Thu
          //-   .day-box Fri
          //-   .day-box Sat
          //- .task-row
          //-   .task-label
          //-     h4
          //-       strong Exercise
          //-   .task-box.success
          //-   .task-box.success
          //-   .task-box.success 
          //-   .task-box.success
          //-   .task-box.success
          //-   .task-box.success 
          //-   .task-box.success
          //- .task-row
          //-   .task-label
          //-     h4
          //-       strong Meditation
          //-   .task-box
          //-   .task-box.success
          //-   .task-box.
          //-   .task-box.success
          //-   .task-box
          //-   .task-box.success 
          //-   .task-box.success
          //- .task-row
          //-   .task-label
          //-     h4
          //-       strong Cravings
          //-   .task-box
          //-   .task-box
          //-   .task-box 10
          //-   .task-box 9
          //-   .task-box
          //-   .task-box 
          //-   .task-box
          //- .task-row
          //-   .task-label
          //-     h4
          //-       strong Sleep
          //-   .task-box
          //-   .task-box
          //-   .task-box
          //-   .task-box
          //-   .task-box
          //-   .task-box 
          //-   .task-box
          //- .task-row
          //-   .task-label
          //-     h4
          //-       strong Stress
          //-   .task-box
          //-   .task-box
          //-   .task-box 
          //-   .task-box
          //-   .task-box
          //-   .task-box 
          //-   .task-box
          //- .task-row
          //-   .task-label
          //-     h4
          //-       strong Mood
          //-   .task-box
          //-   .task-box
          //-   .task-box
          //-   .task-box
          //-   .task-box
          //-   .task-box 
          //-   .task-box
          //- .task-row
          //-   .task-label
          //-     h4
          //-       strong Energy
          //-   .task-box
          //-   .task-box
          //-   .task-box
          //-   .task-box
          //-   .task-box
          //-   .task-box 
          //-   .task-box
          //- .task-row
          //-   .task-label
          //-     h4
          //-       strong Goals
          //-   .task-box
          //-   .task-box
          //-   .task-box
          //-   .task-box
          //-   .task-box
          //-   .task-box 
          //-   .task-box

block scripts
  script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
  script(src='/javascripts/check-in-history.js')










