extends single-client-view

block content
  .panel.panel-primary#history-panel
    .panel-heading
      .panel-title Check-In History
    .panel-body
      #nav-row
        h3.text-center
          .glyphicon.glyphicon-arrow-left
          span#date-range
            &nbsp;April 25 - May 1&nbsp;
          .glyphicon.glyphicon-arrow-right
      #days-row.task-row
        .task-label
        .day-box Sun
        .day-box Mon
        .day-box Tue
        .day-box Wed
        .day-box Thu
        .day-box Fri
        .day-box Sat
      .task-row
        .task-label
          h4
            strong Eat macaroni
        .task-box.success
        .task-box.success
        .task-box.success 
        .task-box.success
        .task-box.success
        .task-box.success 
        .task-box.success
      .task-row
        .task-label
          h4
            strong Ride a tractor
        .task-box.success
        .task-box.success
        .task-box.success 
        .task-box.success
        .task-box
        .task-box.success 
        .task-box.success
      .task-row
        .task-label
          h4
            strong Float away
        .task-box.success
        .task-box
        .task-box.success 
        .task-box.success
        .task-box.success
        .task-box.success 
        .task-box
      .task-row
        .task-label
          h4
            strong Use a semi-colon
        .task-box.success
        .task-box
        .task-box
        .task-box.success
        .task-box
        .task-box.success 
        .task-box
      .task-row
        .task-label
          h4
            strong Live deliciously
        .task-box.success
        .task-box
        .task-box.success 
        .task-box.success
        .task-box
        .task-box.success 
        .task-box.success
      .task-row
        .task-label
          h4
            strong Lick own elbow
        .task-box
        .task-box
        .task-box
        .task-box
        .task-box
        .task-box 
        .task-box












