extends single-client-view

block content
  .row
    .col-xs-12
      .panel.panel-primary#history-panel
        .panel-heading
          .panel-title Check-In History
        .panel-body#history
          .row#chart-controls
            .col-xs-12.col-md-12
              .grey-box
                //- h4 Visible Categories:
                .row  
                  .col-xs-12
                    .btn-group.btn-group-justified(data-toggle='buttons')#toggle-categories
                      label.btn.btn-default.active
                        input(type='checkbox', autocomplete='off', checked)#cat1
                        |  Cravings
                      label.btn.btn-default
                        input(type='checkbox', autocomplete='off')#cat2
                        |  Sleep
                      label.btn.btn-default
                        input(type='checkbox', autocomplete='off')#cat3
                        |  Stress
                      label.btn.btn-default
                        input(type='checkbox', autocomplete='off')#cat4
                        |  Mood
                      label.btn.btn-default.active
                        input(type='checkbox', autocomplete='off' checked)#cat5
                        |  Energy
                      label.btn.btn-default
                        input(type='checkbox', autocomplete='off')#cat6
                        |  Goals
                //- h4 Date Range:
                .row#dates-row
                  .col-xs-12.col-md-5
                    .btn-group.btn-group-justified(data-toggle='buttons')#jump-size-picker
                      label.btn.btn-default.active#jump-7
                        input#option1(type='radio', name='options', autocomplete='off', checked='')
                        |  7 Days
                      label.btn.btn-default#jump-30
                        input#option2(type='radio', name='options', autocomplete='off')
                        |  30 Days
                      label.btn.btn-default#jump-all
                        input#option3(type='radio', name='options', autocomplete='off')
                        |  All
                  .col-xs-12.col-md-7
                    #date-picker
                      .btn.btn-primary(type='button')#go-past
                        .glyphicon.glyphicon-arrow-left
                      #date-range
                      .btn.btn-primary(type='button')#go-future
                        .glyphicon.glyphicon-arrow-right
          #chart-error-div
            .glyphicon.glyphicon-exclamation-sign &nbsp;
            span#chart-error-text
          #line-chart
              

          
          //- #days-row.task-row
          //-   .task-label
          //-   .day-box Sun
          //-   .day-box Mon
          //-   .day-box Tue
          //-   .day-box Wed
          //-   .day-box Thu
          //-   .day-box Fri
          //-   .day-box Sat
          //- .task-row
          //-   .task-label
          //-     h4
          //-       strong Exercise
          //-   .task-box.success
          //-   .task-box.success
          //-   .task-box.success 
          //-   .task-box.success
          //-   .task-box.success
          //-   .task-box.success 
          //-   .task-box.success
          //- .task-row
          //-   .task-label
          //-     h4
          //-       strong Meditation
          //-   .task-box
          //-   .task-box.success
          //-   .task-box.
          //-   .task-box.success
          //-   .task-box
          //-   .task-box.success 
          //-   .task-box.success
          //- .task-row
          //-   .task-label
          //-     h4
          //-       strong Cravings
          //-   .task-box
          //-   .task-box
          //-   .task-box 10
          //-   .task-box 9
          //-   .task-box
          //-   .task-box 
          //-   .task-box
          //- .task-row
          //-   .task-label
          //-     h4
          //-       strong Sleep
          //-   .task-box
          //-   .task-box
          //-   .task-box
          //-   .task-box
          //-   .task-box
          //-   .task-box 
          //-   .task-box
          //- .task-row
          //-   .task-label
          //-     h4
          //-       strong Stress
          //-   .task-box
          //-   .task-box
          //-   .task-box 
          //-   .task-box
          //-   .task-box
          //-   .task-box 
          //-   .task-box
          //- .task-row
          //-   .task-label
          //-     h4
          //-       strong Mood
          //-   .task-box
          //-   .task-box
          //-   .task-box
          //-   .task-box
          //-   .task-box
          //-   .task-box 
          //-   .task-box
          //- .task-row
          //-   .task-label
          //-     h4
          //-       strong Energy
          //-   .task-box
          //-   .task-box
          //-   .task-box
          //-   .task-box
          //-   .task-box
          //-   .task-box 
          //-   .task-box
          //- .task-row
          //-   .task-label
          //-     h4
          //-       strong Goals
          //-   .task-box
          //-   .task-box
          //-   .task-box
          //-   .task-box
          //-   .task-box
          //-   .task-box 
          //-   .task-box

block scripts
  script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
  script(src='/javascripts/check-in-history.js')










