extends single-client-view

block content
  h2 Client Notes
  .grey-box.dev-note
    p
      .label.label-warning Note
      |&nbsp;Place-holder/Work in progress. Real layout and functionality will be added shortly.
  dl
    dt Note 1
    dd Outlaw is solid when in motion, but suffers when his feet are set. It’s almost as if he is uncomfortable standing in one place, often not ready to receive the ball to go into the shot. When Outlaw catches he is instantly thinking “drive,” which causes him to stand with his feet and body out of alignment. If he added a catch-and-shoot game, he could become a very good scorer. It would also be nice to see Outlaw utilized in the post more frequently. What he lacks in footwork, he makes up for in length and elevation. Outlaw has good touch on his shots, despite the occasional breakdown in fundamental form. On the face up drive or turnaround jumper, Outlaw would have a speed advantage against most threes and fours with the length and explosiveness to go up for a soft shot. 
    dt Note 2
    dd One area he could really stand to improve on his range from the elbow and behind the arc. Outlaw is solid when in motion, but suffers when his feet are set. It’s almost as if he is uncomfortable standing in one place, often not ready to receive the ball to go into the shot. When Outlaw catches he is instantly thinking “drive,” which causes him to stand with his feet and body out of alignment. If he added a catch-and-shoot game, he could become a very good scorer.  
    dt Note 3
    dd Though he has flashes of brilliance on the defensive end, Outlaw’s intensity when playing man defense isn’t consistent on every play. If he set his mind to it, he could be an absolute nightmare defensively and could legitimately shut down opposing wing men with his tremendous length and footspeed. But like most players, Outlaw gravitates toward preventative defense as opposed to aggressively attacking his opponent with heavy pressure. 