extends ./layouts/2-col

block content
  .row
    .col-xs-12
      .panel.panel-primary
        .panel-heading 
          .panel-title Client List
        .panel-body
          table.dynamic-table.row-border.table-hover#client-table
            thead
              tr
                th Name&nbsp;&nbsp;
                th Clinician&nbsp;&nbsp;
                th Start date&nbsp;&nbsp;
                th Time since last check-in&nbsp;&nbsp;
            tbody
              each client in clients
                tr(id = "client_#{client.id}" data-tooltip='true' title='Click a row to visit the client\'s page' data-placement='bottom')
                  td #{client.lastName}, #{client.firstName}
                  td -
                  if (client.startDate)
                    td= client.startDate
                  else
                    td -
                  td -
block sidebar
  .row
    .col-xs-12.col-sm-6.col-md-12
      .panel.panel-primary.cal-panel
        .panel-heading
          .panel-title Today's Events
        .panel-body
          include ./includes/cal-small
    .col-xs-12.col-sm-6.col-md-12
      //- .grey-box
        h4 Working features:
        ul
          li Add Client Form
          li Add Clinician Form (only shows up when admin user signed in)
          li Client List: Name and Start date only
          li Calendar
          li Client Details
            ul
              li Contacts tab works, including forms
              li Basic Info tab displays correct data, but edit form doesn't work
              li Funding, Wasatch status tabs don't work yet.
        p Everything else is still displaying dummy data.

block scripts
  script(src='https://apis.google.com/js/client.js')
