extends single-client-view
block content
  link(rel='stylesheet', href='/stylesheets/client-details.css')
  .panel.panel-primary
    .panel-heading
      .panel-title Client Details
    .panel-body
      a(href='/edit-client')
        button.btn.btn-primary#edit Edit Client Info &nbsp;
          i.glyphicon.glyphicon-pencil
      dl.dl-horizontal.info-dl
        dt Name
        dd Travis Outlaw
        br
        dt Phone
        dd (999) 123-7766
        br
        dt Login ID
        dd trout25
        br
        dt Password
        dd c0ntest3dJ
        br
        dt Start Date
        dd April 3, 2016