extends single-client-view
block content
    .panel.panel-primary
        .panel-heading
          .panel-title Client Details
        .panel-body
          dl.dl-horizontal.info-dl
            dt Name
            dd Travis Outlaw
            br
            dt Phone
            dd (999) 123-7766
            br
            dt Login ID
            dd trout25
            br
            dt Password
            dd c0ntest3dJ
            br
            dt Start Date
            dd April 3, 2016
          a(href='/edit-client')
            button.btn.btn-primary.pull-right#edit Edit Client Info &nbsp;
              i.glyphicon.glyphicon-pencil
        .grey-box.dev-note.pull-right
            p
                .label.label-warning Note
                |&nbsp;All sorts of stuff could comfortably fit into this view, but I don't want to overcrowd it. What would Wasatch actually like to store in this system?
            ul
              li Demographic Info? If so, what?
              li Preferred name, pronouns?
              li Treatment history?
              li What else?