extends ./layouts/2-col

block content
  .row
    .col-xs-12
      .panel.panel-primary
        .panel-heading 
          .panel-title My Clients
        .panel-body
          br
          table.table.table-striped.table-hover.table-bordered.sortable#client-table
            thead
              tr
                th.col-xs-3 Name&nbsp;&nbsp;
                  i.glyphicon.glyphicon-sort(data-toggle="tooltip" data-placement="top" title="Sort by name")
                th.col-xs-3 Start Date&nbsp;&nbsp;
                  i.glyphicon.glyphicon-sort(data-toggle="tooltip" data-placement="top" title="Sort by start date")
                th.col-xs-4 Time since last check-in&nbsp;&nbsp;
                  i.glyphicon.glyphicon-sort(data-toggle="tooltip" data-placement="top" title="Sort by time since last check-in")
                //- th.col-xs-2
            tbody
              each client in clients
                tr(id = "client_#{client.id}")
                  td #{client.lastName}, #{client.firstName}
                  td No data
                  td No data
                  //- td 
                    //- .pull-right 
                    //-   i.glyphicon.glyphicon-envelope(data-toggle="tooltip" data-placement="top" title="View messages") &nbsp;
                    //-   i.glyphicon.glyphicon-pencil(data-toggle="tooltip" data-placement="top" title="Edit client info")
          #pager
          form(action="/", method="get", role="form").form
            .form-group
              label(for='action-select').control-label Find a client:&nbsp;&nbsp;
              input(type='text' size='45')
              |&nbsp; &nbsp;
              button.btn-primary
                .i.glyphicon.glyphicon-search 
                |  Search
          .alert.alert-success.text-center
            h4
              strong Click on a row to view a client's dashboard.
block sidebar
  .grey-box
    h3 Welcome to List View
    p This space might hold:
    ul
      li A welcome message
      li Information about the app
      li Instructions for using this page and navigating the app
      li ???
