extends ./layouts/single-client-view

block content
  link(rel='stylesheet', href='/stylesheets/client-notes.css')
  .row
    .col-xs-12.col-lg-12
      .panel.panel-primary
        .panel-heading
          .panel-title My Notes
            button.btn.btn-success.pull-right(type='button', data-toggle='modal', data-target='#addNoteModal')
              | Add a new note &nbsp;
              i.glyphicon.glyphicon-pencil
            .clearfix
        .panel-body
          table.dynamic-table.row-border.hover#notes-table
            thead
              tr
                th Type
                th Author
                th Content
                th Date

            tbody
              tr
                td Progress: Group Session
                td Maurice Cheeks
                td Though he has flashes of brilliance on the defensive end, Outlaw’s intensity when playing man defense isn’t consistent on every play. If he set his mind to it, he could be an absolute nightmare defensively and could legitimately shut down opposing wing men with his tremendous length and footspeed. But like most players, Outlaw gravitates toward preventative defense as opposed to aggressively attacking his opponent with heavy pressure. 
                td 2016-04-21
              tr
                td General: Shift
                td Nate McMillan
                td Outlaw’s set shot still has a long way to go before it can be used as a reliable part of the offense, but he has reached a very solid level of effectiveness off the dribble with his pull-up shot. It’s a tribute to his elevation and athleticism that he has become so adept at shooting off the dribble. Outlaw’s game is about staying in motion and using his length to beat recovering opponents.
                  br
                  br
                  | While Outlaw isn’t an amazing ball-handler, he’s leaps and bounds better than he was three years ago. Early in his career Outlaw was limited to transition baskets and the occasional one-dribble shot, which he didn’t hit with much consistency. Outlaw used to heavily favor his dominant right hand, a common trait for many players. But he mixes up his drives very nicely now and gets to the basket with good ability going either way. 
                td 2016-04-09
              tr
                td Progress: Individual Session
                td Maurice Cheeks
                td Outlaw is solid when in motion, but suffers when his feet are set. It’s almost as if he is uncomfortable standing in one place, often not ready to receive the ball to go into the shot. When Outlaw catches he is instantly thinking “drive,” which causes him to stand with his feet and body out of alignment. If he added a catch-and-shoot game, he could become a very good scorer. It would also be nice to see Outlaw utilized in the post more frequently. What he lacks in footwork, he makes up for in length and elevation. Outlaw has good touch on his shots, despite the occasional breakdown in fundamental form. On the face up drive or turnaround jumper, Outlaw would have a speed advantage against most threes and fours with the length and explosiveness to go up for a soft shot.
                td 2016-03-31
  .modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', data-backdrop='static')#addNoteModal
    .modal-dialog(role='document')
      .modal-content
        include ./includes/forms/add-note
