extends single-client-view

block content
  .row
    .col-xs-12.col-md-7
      .panel.panel-primary
        .panel-heading
          .panel-title My Notes
        .panel-body
          .client-note.grey-box
            .client-note-header 
              h4 4/11/16 
                .pull-right In-Patient Meeting
            .client-note-body Outlaw is solid when in motion, but suffers when his feet are set. It’s almost as if he is uncomfortable standing in one place, often not ready to receive the ball to go into the shot. When Outlaw catches he is instantly thinking “drive,” which causes him to stand with his feet and body out of alignment. If he added a catch-and-shoot game, he could become a very good scorer. It would also be nice to see Outlaw utilized in the post more frequently. What he lacks in footwork, he makes up for in length and elevation. Outlaw has good touch on his shots, despite the occasional breakdown in fundamental form. On the face up drive or turnaround jumper, Outlaw would have a speed advantage against most threes and fours with the length and explosiveness to go up for a soft shot.
            .client-note-footer
              a Edit
              |&nbsp;&nbsp;
              a Delete
          .client-note.grey-box
            .client-note-header
              h4 4/8/16 
                .pull-right In-Patient Meeting
            .client-note-body Though he has flashes of brilliance on the defensive end, Outlaw’s intensity when playing man defense isn’t consistent on every play. If he set his mind to it, he could be an absolute nightmare defensively and could legitimately shut down opposing wing men with his tremendous length and footspeed. But like most players, Outlaw gravitates toward preventative defense as opposed to aggressively attacking his opponent with heavy pressure. 
            .client-note-footer
              a Edit
              |&nbsp;&nbsp;
              a Delete
           .client-note.grey-box
            .client-note-header
              h4 4/4/16 
                .pull-right Intake Note
            .client-note-body Outlaw is solid when in motion, but suffers when his feet are set. It’s almost as if he is uncomfortable standing in one place, often not ready to receive the ball to go into the shot. When Outlaw catches he is instantly thinking “drive,” which causes him to stand with his feet and body out of alignment. If he added a catch-and-shoot game, he could become a very good scorer. It would also be nice to see Outlaw utilized in the post more frequently. What he lacks in footwork, he makes up for in length and elevation. Outlaw has good touch on his shots, despite the occasional breakdown in fundamental form. On the face up drive or turnaround jumper, Outlaw would have a speed advantage against most threes and fours with the length and explosiveness to go up for a soft shot.
            .client-note-footer
              a Edit
              |&nbsp;&nbsp;
              a Delete 
    .col-xs-12.col-md-5
      .panel.panel-primary
        .panel-heading
          .panel-title Add a Note
        .panel-body
          form.form(action="/", method="get", role="form")
            .form-group
              label Date: &nbsp;
              input.form-control(type="date")
            .form-group
              label Note Type: &nbsp;
              select
                option.form-control In-Patient Meeting
                option.form-control Out-Patient Meeting
                option.form-control Intake
                option.form-control Administrative
            .form-group
              textarea(rows="15")