extends ./layouts/2-col

block content
  .row
    .col-xs-12
      .panel.panel-primary
        .panel-heading 
          .panel-title Client List
        .panel-body
          table.dynamic-table.row-border.table-hover#client-table
            thead
              tr
                th Name&nbsp;&nbsp;
                th Clinician&nbsp;&nbsp;
                th Start date&nbsp;&nbsp;
                th Time since last check-in&nbsp;&nbsp;
            tbody
              each client in clients
                tr(id = "client_#{client.id}" data-tooltip='true' title='Click a row to visit the client\'s page' data-placement='bottom')
                  td #{client.lastName}, #{client.firstName}
                  td -
                  if (client.startDate)
                    td= client.startDate
                  else
                    td -
                  td -
block sidebar
  .row
    .col-xs-12.col-sm-6.col-md-12
      .panel.panel-primary.cal-panel
        .panel-heading
          .panel-title Today's Events
        .panel-body
          include ./includes/cal-small
    .col-xs-12.col-sm-6.col-md-12

block scripts
  script(src='https://apis.google.com/js/client.js')
  script(src='/javascripts/small-calendar-bundle.js')
