extends ./layouts/1-col

block content
  h1 Hiya! 
  p This is a page for settings specific to the clinician. Stuff like
  ul
    li Updating login or contact info
    li Notification settings
    li ...etc.