extends layout

block content
  h2 Edit Patient Info - Outlaw, Travis
  .container
    .row
      form.form(action="/", method="get", role="form")
        .row
          .col-xs-12.col-md-6
            h4.text-center Patient Info
            .grey-box
              .form-group
                label Last Name
                input.form-control(type='text' value='Outlaw')
              .form-group
                label First Name
                input.form-control(type='text' value='Travis')
              .form-group
                label Phone Number
                input.form-control(type='text' value='(999) 123-7766')
              .form-group
                label Start Date
                input.form-control(type='date' value='2016-02-15')
              .form-group
                label Wasatch Log-In ID (Can't be updated)
                p.grey-box#change-id trout25
                //- input.form-control(type='text')   
              .form-group
                label Change Password
                p
                  button.btn.btn-primary Click to Change Password  
                  | (doesn't do anything for now)    
          .col-md-2
          .col-xs-12.col-md-6
            h4.text-center Account Options
            .grey-box
              .form-group
                label Patient Type
                select.form-control
                  option In-Patient
                  option Team Player
                  option(selected='selected') X-Factor
              .checkbox
                label
                  input(type='checkbox')
                  | Allow patient to select check-in date.
                  p.help-block If this option is de-selected, the patient will only be able to add check-in data for the current day.
            h4.text-center Daily Tasks to Track 
            .grey-box   
              .checkbox
                label
                  input(type='checkbox' checked)
                  | Attend meeting
              .checkbox
                label
                  input(type='checkbox' checked)
                  | Meditate
              .checkbox
                label
                  input(type='checkbox')         
                  | Feed dinosaur   
            br
            button.btn-primary.pull-right Submit
            br

              