extends ./layouts/1-col

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
        p= message
  .row
    .col-md-6.col-sm-12
      h4 !{(content).replace(/\n/g, '<br/>')}
