doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/bootstrap/css/flatly.bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')#logo Wasatch &nbsp;
            i.glyphicon.glyphicon-leaf
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/')
                | My Patients
                span.sr-only (current)     
            li
              a(href='/add-patient')
                | Add New Patient 
                span.sr-only (current)
            li(data-toggle="tooltip" data-placement="right" title="Doesn't go anywhere yet").dead-link
              a Scheduling?
              span.sr-only (current)      
            li(data-toggle="tooltip" data-placement="right" title="Doesn't go anywhere yet").dead-link
              a Messaging? 
              span.sr-only (current)           
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/my-settings') My Settings
            li
              a(href='/') Sign Out
    .container
      block content

      footer 
        .row
          .col-xs-12
            .pull-right 
              small &copy; RPB 2016


    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/ui-tweaks.js')
