extends ./layouts/1-col

block stylesheets
  link(rel='stylesheet', href='/stylesheets/messaging.css')

block content
  .row
    .col-xs-12.col-sm-6
      h4 List of conversations will go here.
    .col-xs-12.col-sm-6
      #active-conversation  

block scripts
  script(src='/vendor/react/react.min.js')
  script(src='/vendor/react/react-dom.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.16/browser.js')
  script(src='/javascripts/messaging.js' type='text/babel')

