extends ./layouts/1-col

block stylesheets
  link(rel='stylesheet', href='/stylesheets/messaging.css')

block content
  .row
    .col-xs-12.col-sm-6
      h4 List of conversations will go here.
      
    .col-xs-12.col-sm-6
      #active-conversation  

block scripts
  script(src='/javascripts/vendor.js')
  script(src='/javascripts/messaging.js')