extends ./layouts/1-col

block stylesheets
  link(rel='stylesheet', href='/stylesheets/messaging.css')

block content
  .alert.alert-info This is a mock-up w/ dummy data.
  #messaging-root
      
block scripts
  script(src='/javascripts/vendor-react.js')
  script(src='/javascripts/messaging-bundle.js')
