extends single-patient-view
block content
    .panel.panel-primary
        .panel-heading
          .panel-title Patient Info
        .panel-body
          dl.dl-horizontal.info-dl
            dt Name
            dd Travis Outlaw
            br
            dt Phone
            dd (999) 123-7766
            br
            dt Login ID
            dd trout25
            br
            dt Password
            dd c0ntest3dJ
            br
            dt Start Date
            dd April 3, 2016
            br
            dt Patient Notes
            dd Outlaw is solid when in motion, but suffers when his feet are set. It’s almost as if he is uncomfortable standing in one place, often not ready to receive the ball to go into the shot. When Outlaw catches he is instantly thinking “drive,” which causes him to stand with his feet and body out of alignment. If he added a catch-and-shoot game, he could become a very good scorer. It would also be nice to see Outlaw utilized in the post more frequently. What he lacks in footwork, he makes up for in length and elevation. Outlaw has good touch on his shots, despite the occasional breakdown in fundamental form. On the face up drive or turnaround jumper, Outlaw would have a speed advantage against most threes and fours with the length and explosiveness to go up for a soft shot. 
          a(href='/edit-patient')
            button.btn.btn-primary.pull-right#edit Edit Patient Info &nbsp;
              i.glyphicon.glyphicon-pencil