extends layout

block sidebar
  .grey-box
    h2 Outlaw, Travis
    h4 (999) 123-7766
    a
      h4 travis.not.bo@aol.com
    hr
    ul
      li
        a(href='check-in-history')
          h4 Check-in history
      li
        a(href='patient-info') 
          h4 View patient details
      li
        a(href='edit-patient') 
          h4 Edit patient details and settings
      li
        h4 (message patient?)

block content